Body
{
color:white;
font-size: 150px;
text-align: center;
nav-down: 100;
}
.block17 {
  top: 35%;
  left: 5%;
  position: absolute;
  display: block1;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block18 {
  top: 50%;
  left: 5%;
  position: absolute;
  display: block2;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block19 {
  top: 65%;
  left: 5%;
  position: absolute;
  display: block3;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block20 {
  top: 80%;
  left: 5%;
  position: absolute;
  display: block4;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block21 {
  top: 35%;
  left: 30%;
  position: absolute;
  display: block5;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block22 {
  top: 50%;
  left: 30%;
  position: absolute;
  display: block6;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block23 {
  top: 65%;
  left: 30%;
  position: absolute;
  display: block7;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block24 {
  top: 80%;
  left: 30%;
  position: absolute;
  display: block8;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block25 {
  top: 35%;
  left: 55%;
  position: absolute;
  display: block9;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block26 {
  top: 50%;
  left: 55%;
  position: absolute;
  display: block10;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block27 {
  top: 65%;
  left: 55%;
  position: absolute;
  display: block10;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block28 {
  top: 80%;
  left: 55%;
  position: absolute;
  display: block10;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block29 {
    top: 35%;
    left: 80%;
    position: absolute;
    display: block9;
    width: 15%;
    border: none;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block30 {
    top: 50%;
    left: 80%;
    position: absolute;
    display: block10;
    width: 15%;
    border: none;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block31 {
    top: 65%;
    left: 80%;
    position: absolute;
    display: block10;
    width: 15%;
    border: none;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block32 {
    top: 80%;
    left: 80%;
    position: absolute;
    display: block10;
    width: 15%;
    border: none;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.addStudent {
  top: 10%;
  left: 80%;
  position: absolute;
  display: addStudent;
  width: 15%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.previousPage {
  top: 90%;
  left: 2%;
  position: absolute;
  display: previousPage;
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  color: black;
  font-size: 11px;
  cursor: pointer;
  text-align: center;
}

.previousPage {border-radius: 50%;}


.block17:hover {
  background-color: #ddd;
  color: black;
}

.block18:hover {
    background-color: #ddd;
    color: black;
}

.block19:hover {
  background-color: #ddd;
  color: black;
}

.block20:hover {
  background-color: #ddd;
  color: black;
}

.block21:hover {
  background-color: #ddd;
  color: black;
}

.block22:hover {
  background-color: #ddd;
  color: black;
}

.block23:hover {
  background-color: #ddd;
  color: black;
}

.block24:hover {
  background-color: #ddd;
  color: black;
}

.block25:hover {
  background-color: #ddd;
  color: black;
}

.block26:hover {
  background-color: #ddd;
  color: black;
}

.block27:hover {
  background-color: #ddd;
  color: black;
}

.block28:hover {
  background-color: #ddd;
  color: black;
}

.block29:hover {
  background-color: #ddd;
  color: black;
}

.block30:hover {
  background-color: #ddd;
  color: black;
}
  
.block31:hover {
  background-color: #ddd;
  color: black;
}  

.block32:hover {
  background-color: #ddd;
  color: black;
}

.addStudent:hover {
  background-color: #ddd;
  color: black;
}

.previousPage:hover {
  background-color: #ddd;
  color: black;
}

.back:hover{
  background-color: #ddd;
  color: black;
}